*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  overflow: hidden;

}

html,body{
  height:100% !important;
  width:100% !important;
  font-size: 15px !important;
  font-family: Montserrat;
  overflow: auto;


}